:root {
  --ls-tag-text-opacity: 0.8;
  --ls-tag-text-hover-opacity: 1;
  --ls-page-text-size: 1.15em;
  --ls-page-title-size: 2.1rem;
  --ls-main-content-max-width: 810px;
  --ls-main-content-max-width-wide: 1280px;
  --ls-font-family: Avenir, Tahoma, sans-serif; 
  --ls-scrollbar-width: 6px;
  --ls-border-radius-low: 4px;
  --ls-border-radius-medium: 8px;
  --ls-headbar-height: 3rem;
  --ls-headbar-inner-top-padding: 0px;
  --ls-left-sidebar-width: 246px;
  --ls-left-sidebar-sm-width: 74vw;
  --ls-left-sidebar-nav-btn-size: 38px;
  --ls-native-kb-height: 0px;
  --ls-error-color: var(--color-red-500);
  --ls-warning-color: var(--color-orange-500);
  --ls-success-color: var(--color-green-500);
  --ls-highlight-color-default: green;
}

/* permanently get rid of brackets around ref links 
.page-reference .bracket { 
  display: none; 
  }
*/

:not(pre)>code { 
  background: hsl(45 30% 86%); /* inline code style*/
}

.pr-2 { /* targets block but seems to also affect logseq item on nav menu */
padding-bottom: 10px;
}

/* -----------------------------
re-think how to name the following sections so the dark and light theme both use the same variables 

nav menu sidebar font color
.left-sidebar-inner span { 
  color: var(--ls-primary-background-color); 
}
  
.left-sidebar-inner a.item:hover {
  background: var(--dark-teal); 
}
  
  .cp__right-sidebar,
  .cp__right-sidebar-topbar {
     background-color: var(--ls-tertiary-background-color);
  }
  
  .tippy-tooltip { not the right selector targeting the tooltip ... uses the quaternary background colour
    background: red;
  }

*/
  

/*-------------------------------------------------------
--------------------- SOLARIZED LIGHT ------------------
-------------------------------------------------------*/

.light-theme, .white-theme, html[data-theme=light] {
  --ls-primary-background-color: hsl(44 79% 94%); /* light yellow */
  --ls-secondary-background-color: hsl(198 12% 41%); /* teal */
    --dark-teal: hsl(196 13% 34%); /*dark teal*/
  --ls-tertiary-background-color: hsl(45 65% 90%); /* slightly darker yellow block*/
  --ls-quaternary-background-color: hsl(42 74% 44%); /* gold yellow */
  --ls-fifth-background-color: hsl(44 25% 85%); /* desat yellow */
  --ls-sixth-background-color: hsl(39 45% 85%); /* warmer yellow */

  --ls-table-tr-even-background-color: var(--ls-tertiary-background-color); /* all pages view */
  
  --ls-active-primary-color: var(--ls-quaternary-background-color); /* border pull for right sidebar */
  --ls-active-secondary-color: pink;

  --ls-block-properties-background-color: var(--ls-tertiary-background-color);
  --ls-page-properties-background-color: var(--ls-fifth-background-color); /* background for how many times block has been referenced */
  --ls-block-ref-link-text-color: hsl(42 80% 44%); /* saturated gold yellow */

  --ls-border-color: var(--ls-guideline-color); /*  border separation between journal entries */

  --ls-secondary-border-color: purple;
  --ls-tertiary-border-color: pink;

  --ls-primary-text-color: var(--dark-teal); /* main font colour */
  --ls-secondary-text-color: var(--ls-primary-background-color); /* search results type */

  --ls-title-text-color: var(--dark-teal);

  --ls-link-text-color: var(--ls-quaternary-background-color);
  --ls-link-text-hover-color: var(--ls-link-text-color);
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-primary-background-color);

  --ls-tag-text-color: hsl(198 12% 71%); /* desat teal */
  --ls-tag-text-hover-color: var(--ls-secondary-background-color);

  --ls-slide-background-color: pink;

  --ls-guideline-color: var(--ls-block-bullet-border-color); /* border when bullet has expanded */
  --ls-block-bullet-border-color: var(--ls-fifth-background-color);
  --ls-block-bullet-color: var(--ls-quaternary-background-color);
  --ls-block-highlight-color: var(--ls-tertiary-background-color);
  --ls-selection-background-color: var(--ls-fifth-background-color);

  /* --ls-selection-text-color: var(--ls-secondary-text-color); */
  --ls-page-checkbox-color: var(--ls-sixth-background-color);
  --ls-page-checkbox-border-color: var(--ls-quaternary-background-color);

  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: var(--ls-tertiary-background-color);
  --ls-page-blockquote-border-color: var(--ls-quaternary-background-color);

  /* search results icon style */ 
  --ls-page-mark-color: red;
  --ls-page-mark-bg-color: orange;

  --ls-page-inline-code-bg-color: red
  --ls-page-inline-code-color: orange;

  --ls-scrollbar-foreground-color: hsl(44 1% 70%);
  --ls-scrollbar-background-color: var(--ls-primary-background-color);
  --ls-scrollbar-thumb-hover-color: red;

  --ls-cloze-text-color: red;

  --ls-icon-color: green;
  --ls-search-icon-color: red;
  --ls-search-icon-hover-color: orange;

  --ls-a-chosen-bg: var(--ls-tertiary-background-color); /* hover background for menu once three dots on top right is clicked */

  --ls-pie-bg-color: red;
  --ls-pie-fg-color: red;

--ls-highlight-color-gray: var(--color-gray-100);
  --ls-highlight-color-red: var(--color-red-100);
  --ls-highlight-color-yellow: var(--color-yellow-100);
  --ls-highlight-color-green: var(--color-green-100);
  --ls-highlight-color-blue: var(--color-blue-100);
  --ls-highlight-color-purple: var(--color-purple-100);
  --ls-highlight-color-pink: var(--color-pink-100);

  --ls-error-text-color: var(--color-red-800);
  --ls-error-background-color: var(--color-red-100);

  --ls-warning-text-color: var(--color-yellow-800);
  --ls-warning-background-color: var(--color-yellow-100);

  --ls-success-text-color: var(--color-green-800);
  --ls-success-background-color: var(--color-green-100);

  --ls-focus-ring-color: red;

  --ls-header-button-background: var(--dark-teal);

  --color-level-1: var(--ls-tertiary-background-color);
  --color-level-2: green;
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: red;
  --color-level-5: red;
  --color-level-6: red;
}

/* -------------------
colours specifically influencing light theme 

.left-sidebar-inner span {  
color: var(--ls-primary-background-color);
}

.left-sidebar-inner a.item:hover {
background: var(--dark-teal);
}

.cp__right-sidebar,
.cp__right-sidebar-topbar {
 background-color: var(--ls-tertiary-background-color);
}

.tippy-tooltip {
background: red;
}

*/

/*-------------------------------------------------------
------------------------- CHARCOAL ----------------------
-------------------------------------------------------*/

.dark-theme, html[data-theme=dark] {
  --ls-primary-background-color: hsl(210 6% 20%); /* grey */
  --ls-secondary-background-color: hsl(216 6% 16%); /* darker gey */
  --ls-tertiary-background-color: hsl(210 7% 22%); /* lighter grey */
  --ls-quaternary-background-color: hsl(201 17% 60%); /* mint blue */

  --ls-table-tr-even-background-color: var(--ls-tertiary-background-color);

  --ls-active-primary-color: #8ec2c2;
  --ls-active-secondary-color: #d0e8e8;

  --ls-block-properties-background-color: #06323e;
  --ls-page-properties-background-color: #02171d;
  --ls-block-ref-link-text-color: #1a6376;
  --ls-border-color: var(--ls-guideline-color);
  --ls-secondary-border-color: #126277;
  --ls-tertiary-border-color: rgba(0,2,0,.1);
  --ls-guideline-color: var(--ls-block-bullet-border-color);
  --ls-menu-hover-color: var(--ls-secondary-background-color);

  --ls-primary-text-color: hsl(180 1% 67%);
  --ls-secondary-text-color: #dfdfdf;
  --ls-title-text-color: #93a1a1;
  --ls-link-text-color: hsl(202 26% 77%);
  --ls-link-text-hover-color: var(--ls-active-secondary-color);
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
  --ls-tag-text-color: var(--ls-link-text-color);
  --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: hsl(201 17% 80% / 0.15);
  --ls-block-bullet-color: var(--ls-quaternary-background-color);
  --ls-block-highlight-color: #0a3d4b;
  --ls-selection-background-color: #338fff;
  --ls-selection-text-color: #fff;
  --ls-page-checkbox-color: #6093a0;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
    
  --ls-page-blockquote-color: var(--ls-primary-text-color);
  --ls-page-blockquote-bg-color: hsl(210 7% 25%);
  --ls-page-blockquote-border-color: var(--ls-quaternary-background-color);
    
  --ls-page-mark-color: #262626;
  --ls-page-mark-bg-color: #fef3ac;
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: #01222a;

  --ls-scrollbar-foreground-color: hsl(195 2% 44%);
  --ls-scrollbar-background-color: rgba(30,60,67,.1);
  --ls-scrollbar-thumb-hover-color: hsla(0,0%,100%,.2);

  --ls-cloze-text-color: #8fbc8f;
  --ls-icon-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--ls-primary-text-color);
  --ls-search-icon-hover-color: var(--ls-secondary-text-color);
  --ls-a-chosen-bg: var(--ls-quaternary-background-color);
  --ls-pie-bg-color: #01303b;
  --ls-pie-fg-color: #0b5869;
  --ls-highlight-color-gray: var(--color-gray-900);
  --ls-highlight-color-red: var(--color-red-900);
  --ls-highlight-color-yellow: var(--color-yellow-900);
  --ls-highlight-color-green: var(--color-green-900);
  --ls-highlight-color-blue: var(--color-blue-900);
  --ls-highlight-color-purple: var(--color-purple-900);
  --ls-highlight-color-pink: var(--color-pink-900);
  --ls-error-text-color: var(--color-red-100);
  --ls-error-background-color: var(--color-red-900);
  --ls-warning-text-color: var(--color-yellow-100);
  --ls-warning-background-color: var(--color-yellow-900);
  --ls-success-text-color: var(--color-green-100);
  --ls-success-background-color: var(--color-green-900);
  --ls-focus-ring-color: rgba(18,98,119,.5);
  --ls-header-button-background: hsl(240 0% 41%);
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #195d6c;
  --color-level-5: #266c7d;
  --color-level-6: #3a7e8e;
}

html[data-theme=dark] {
background: var(--ls-primary-background-color);
}

.left-sidebar-inner a.item.active, .left-sidebar-inner a.item:active {
background: var(--ls-tertiary-background-color);
}
